<div class="d-flex p-3 justify-content-end">
    <div class="mr-3 pt-1">Welcome
        {{utilityService.loggedInUser[UserEnum.FIRST_NAME] + ' ' + utilityService.loggedInUser[UserEnum.LAST_NAME]}}
    </div>
    <button class="btn btn-primary" (click)="onLogout()">Logout</button>
</div>
<div class="notes-container mt-5">
    <div (click)="createNote(NotesTypeEnum.TEXT)">Take a note.. | Text</div>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12"
            *ngFor="let notes of utilityService.loggedInUser.notesList; let i = index">
            <div [ngSwitch]="notes[NotesModelEnum.NOTES_TYPE]">
                <div *ngSwitchCase="NotesTypeEnum.TEXT">
                    <app-text-notes [notes]="notes" [index]="i"></app-text-notes>
                </div>
                <div *ngSwitchCase="NotesTypeEnum.LIST">
                    <app-list-notes [notes]="notes" [index]="i"></app-list-notes>
                </div>
            </div>
        </div>
    </div>
</div>