.notes-container {
  padding: 1.25rem 2rem;
}

.mat-note-icon {
  font-size: 150%;
}

.notes-icon-container {
  width: 40%;
  padding: 10px 10px 5px;
  border: 1.5px solid #9f9f9f99;
  color: #7a7979;
  border-radius: 5px;
  .mat-note-icon {
    padding-left: 1rem;
    padding-right: 2rem;
  }
}
