<mat-card [formGroup]="linkNotesForm">
    <mat-card-header>
        <mat-card-title>
            <div class="notes-form-control">
                <input matInput placeholder="Title" [formControlName]="NotesModelEnum.TITLE" (blur)="updateNote()">
            </div>
        </mat-card-title>
        <mat-card-subtitle>{{notes[NotesModelEnum.CREATION_DATE]|date:'short'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="notes-form-control">
        <mat-form-field>
            <input matInput placeholder="Your link here.." [formControlName]="NotesModelEnum.LINK"
                (blur)="updateNote()">
        </mat-form-field>
        <!-- <div id="url-content" *ngIf="showURLContentFlag">
            <iframe src="linkNotesForm.get(NotesModelEnum.LINK).value"></iframe>
        </div> -->
    </mat-card-content>
    <mat-card-actions>
        <div class="d-flex justify-content-end">
            <mat-icon class="mat-icon-form-field cursor-pointer" title="Delete notes" (click)="deleteNotes()">delete
            </mat-icon>
        </div>
    </mat-card-actions>
</mat-card>